<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<gcse:searchbox-only>Search enableAutoComplete="true"</gcse:searchbox-only>

<hr>
<div class="md-search" 
  data-md-component="search" 
  role="dialog" 
  aria-label="{{ lang.t('search') }}">
  <button type="button" class="md-search__button">
    {{ lang.t('search') }}
  </button>
</div>

<hr>

 <script async src="https://cse.google.com/cse.js?cx=d3873894b6f614f35">
</script>
<div class="gcse-search" ></div>

<br><ol>
  <li>gcse-searchresults-only
    <li>gcse-search
</ol>
Look and feel gsce: https://programmablesearchengine.google.com/controlpanel/lookandfeel?cx=d3873894b6f614f35
